html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  -webkit-app-region: drag;
  color: #fff;
  font-family: "Quicksand", "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  text-align: center;
  -webkit-user-select:none;
  background-color: #444;
}

a, #dots div {
  -webkit-app-region: no-drag;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border: 1px solid #fff;
  -webkit-app-region: no-drag;
}

::-webkit-scrollbar-thumb {
  background: #eee;
  -webkit-app-region: no-drag;
}

.mobile #close {
  display: none;
}

.not-mobile #close {
  background: url('img/x.png') center no-repeat;
  background-size: 10px 10px;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 30px;
  width: 30px;
  cursor: pointer;
  -webkit-app-region: no-drag;
  z-index: 100;
  visibility: hidden;
}

body:hover.not-mobile #close {
  visibility: visible;
}

#close {
  display: none;
}

.button {
  background-color: #f5f5f5;
  background-image: linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  -webkit-border-radius: 2px;
  color: #444;
  cursor: default;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  height: 27px;
  line-height: 27px;
  margin-left: 0px;
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 10px;
  min-width: 50px;
  padding: 0 8px;
  text-align: center;
  transition: all 0.218s;
  -webkit-transition: all 0.218s;
  white-space: nowrap;
  -webkit-app-region: no-drag;
}

.button:hover {
  background-color: #f8f8f8;
  background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
  border: 1px solid #c6c6Cc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  color: #222;
  transition: all 0.0s;
  -webkit-transition: all 0.0s;
}

.button:active {
  background-color: #f6f6f6;
  background-image: -webkit-linear-gradient(top, #f6f6f6, #f1f1f1);
  background-image: linear-gradient(top, #f6f6f6, #f1f1f1);
  border: 1px solid #c6c6c6;
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
  color: #333;
}

.button.blue {
  background-color: #4d90fe;
  background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
  background-image: linear-gradient(top, #4d90fe, #4787ed);
  border: 1px solid #3079ed;
  color: #fff;
}

.button.blue:hover {
  background-color: #5093ff;
  background-image: -webkit-linear-gradient(top, #5093ff, #4a8af0);
  background-image: linear-gradient(top, #5093ff, #4a8af0);
  border: 1px solid #337cf3;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}

input[type=checkbox],
input[type=radio] {
  -webkit-appearance: none;
  width: 13px;
  height: 13px;
  border: 1px solid #c6c6c6;
  background: #f5f5f5;
  margin: 0;
  margin-right: 10px;
  margin-bottom: -2px;
  margin-top: 2px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: default;
  position: relative;
  -webkit-app-region: no-drag;
}

input[type=checkbox]:active,
input[type=radio]:active {
  background: #fff;
  border-color: #666;
}

input[type=checkbox]:hover,
input[type=radio]:hover {
  border-color: #666;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.1);
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.1);
}

input[type=radio] {
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

input[type=checkbox].disabled,
input[type=radio].disabled {
  border-color:#f1f1f1;
  background: #fff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.disabledtext{
  color: #b8b8b8;
}

input[type=radio]:checked::after {
  content: '';
  display: block;
  position: relative;
  top: 3px;
  left: 3px;
  width: 7px;
  height: 7px;
  background: #666;
  border-radius: 50%;
}

input[type=checkbox]:focus {
  outline: none;
  border-color: #4d90fe;
}

input[type=text] {
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-radius: 1 px;
  -webkit-border-radius: 1px;
  color: #333;
  display: inline-block;
  font-family: "Quicksand", "Open Sans", sans-serif;
  font-size: 16px;
  height: 32px;
  line-height: 30px;
  padding-left: 8px;
  vertical-align: middle;
  margin-bottom: 15px;
  width: 270px;
  -webkit-app-region: no-drag;
}

input[type=text]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
}

input[type=text]:focus {
  border: 1px solid #4d90fe;
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.3);
  outline: none;
}

input[type=text].form-error{
  border: 1px solid #ff3f3f;
}

#error-message {
  color: #ff3f3f;
  padding: 0px;
  margin-top: -5px;
  margin-bottom: 5px;
}

#settings {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: #444;
  text-align: left;
  padding: 15px;
  z-index: 1;
}

#settings #source,
#settings #source a {
  color: #fff;
  font-size: 11px;
  margin-bottom: 10px;
  margin-top: 5px;
  text-align: center;
}

#settings #new {
  margin-bottom: 10px;
}

#settings #cities-list {
  margin-top: 10px;
  overflow: auto;
}

.not-mobile #settings #cities-list {
  height: 180px;
}

.mobile #settings #cities-list {
}

#settings #cities-list .delete {
  background: url('img/x.png') center no-repeat;
  background-size: 12px 12px;
  display: inline-block;
  height: 30px;
  opacity: 0.7;
  width: 30px;
  vertical-align: middle;
}

#settings #cities-list .delete:hover {
  opacity: 1;
}

#settingsToggle {
  background: url('img/settings.png') center no-repeat;
  background-size: 14px 14px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  height: 40px;
  width: 40px;
  -webkit-app-region: no-drag;
  z-index: 100;
}

#wrapper {
  height: 100%;
  width: 100%;
  position:absolute;
  white-space: nowrap;
  overflow: hidden;
  -webkit-box-sizing: border-box;
}

#weather {
  height: 100%;
  width: 100%;
}

#searchterm {
  margin-top: 10px;
}

.forecast {
  display: inline-block;
  -webkit-box-sizing: border-box;
  height: 100%;
  width: 100%;
  text-align: center;
}


.forecast.selected {
}

.city {
  bottom: 45px;
  font-size: 12px;
  position: absolute;
  text-align: center;
  width: 100%;
}

.current {
  text-align: center;
  margin-top: 150px;
}

.current-icon {
  height: 34px;
  width: 34px;
  display: inline-block;
  margin-bottom: 10px;
  margin-right: -34px;
}

.current-temp {
  display: inline-block;
  font-size: 72px;
  font-weight: normal;
}

.high_low {
  margin-top: 45px;
  font-size: 21px;
  display: block;
  font-weight: normal;
}

#dots {
  width: 200px;
  text-align: center;
  white-space: nowrap;
  position: absolute;
  bottom: 15px;
  left: 50%;
  margin-left: -100px;
  overflow: auto;
}

#dots #prev,
#dots #next {
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  display: inline-block;
  margin-bottom: 4px;
  opacity: 0;
}

#dots #prev {
  border-right: 8px solid #fff;
  margin-right: 5px;
}

#dots #next {
  border-left: 8px solid #fff;
  margin-left: 5px;
}

#dots #prev.disabled,
#dots #next.disabled {
  opacity: 0.4;
}

#dots #prev.shown,
#dots #next.shown {
  opacity: 1;
}

#dots .dot {
    border: 2px solid #fff;
  border-radius: 8px;
  height: 10px;
  margin: 3px;
  width: 10px;
  display: none;
}

#dots .dot.shown {
  display: inline-block;
}

#dots .dot.selected {
  background-color: #fff;
}

.current-icon.cloudy {
  background: url('img/cloudy.png') center no-repeat;
  background-size: 34px 34px;
}

.current-icon.hail {
  background: url('img/hail.png') center no-repeat;
  background-size: 34px 34px;
}

.current-icon.light-rain {
  background: url('img/light-rain.png') center no-repeat;
  background-size: 34px 34px;
}

.current-icon.light-snow {
  background: url('img/light-snow.png') center no-repeat;
  background-size: 34px 34px;
}

.current-icon.mostly-sunny {
  background: url('img/mostly-sunny.png') center no-repeat;
  background-size: 34px 34px;
}

.current-icon.partly-cloudy {
  background: url('img/partly-cloudy.png') center no-repeat;
  background-size: 34px 34px;
}

.current-icon.rain-snow {
  background: url('img/rain-snow.png') center no-repeat;
  background-size: 34px 34px;
}

.current-icon.rain {
  background: url('img/rain.png') center no-repeat;
  background-size: 34px 34px;
}

.current-icon.scattered-light-rain {
  background: url('img/scattered-light-rain.png') center no-repeat;
  background-size: 34px 34px;
}

.current-icon.scattered-rain {
  background: url('img/scattered-rain.png') center no-repeat;
  background-size: 34px 34px;
}

.current-icon.scattered-snow {
  background: url('img/scattered-snow.png') center no-repeat;
  background-size: 34px 34px;
}

.current-icon.scattered-tstorm {
  background: url('img/scattered-tstorm.png') center no-repeat;
  background-size: 34px 34px;
}

.current-icon.snow {
  background: url('img/snow.png') center no-repeat;
  background-size: 34px 34px;
}

.current-icon.sunny {
  background: url('img/sunny.png') center no-repeat;
  background-size: 34px 34px;
}

.current-icon.tstorm {
  background: url('img/tstorm.png') center no-repeat;
  background-size: 34px 34px;
}

.forecast.cloudy {
  background-color: #75d6ff;
  background-image: linear-gradient(top, #75d6ff, #45a6dd);
  background-image: -webkit-linear-gradient(top, #75d6ff, #45a6dd);
}

.forecast.hail {
  background-color: #6f9fba;
  background-image: linear-gradient(top, #6f9fba, #3f6f8a);
  background-image: -webkit-linear-gradient(top, #6f9fba, #3f6f8a);
}

.forecast.light-rain {
  background-color: #82bddf;
  background-image: linear-gradient(top, #82bddf, #528daf);
  background-image: -webkit-linear-gradient(top, #82bddf, #528daf);
}

.forecast.light-snow {
  background-color: #c0e5ff;
  background-image: linear-gradient(top, #c0e5ff, #90b5d7);
  background-image: -webkit-linear-gradient(top, #c0e5ff, #90b5d7);
}

.forecast.mostly-sunny {
  background-color: #a1d0ed;
  background-image: linear-gradient(top, #a1d0ed, #71a0bd);
  background-image: -webkit-linear-gradient(top, #a1d0ed, #71a0bd);
 }

.forecast.partly-cloudy {
  background-color: #f6b955;
  background-image: linear-gradient(top, #f6b955, #d68925);
  background-image: -webkit-linear-gradient(top, #f6b955, #d68925);
}

.forecast.rain-snow {
  background-color: #6f9fba;
  background-image: linear-gradient(top, #6f9fba, #3f6f8a);
  background-image: -webkit-linear-gradient(top, #6f9fba, #3f6f8a);
}

.forecast.rain {
  background-color: #78afce;
  background-image: linear-gradient(top, #78afce, #487f9e);
  background-image: -webkit-linear-gradient(top, #78afce, #487f9e);
}

.forecast.scattered-light-rain {
  background-color: #8fd6fe;
  background-image: linear-gradient(top, #8fd6fe, #5fa6ce);
  background-image: -webkit-linear-gradient(top, #8fd6fe, #5fa6ce);
}

.forecast.scattered-rain {
  background-color: #84c4e8;
  background-image: linear-gradient(top, #84c4e8, #5494b8);
  background-image: -webkit-linear-gradient(top, #84c4e8, #5494b8);
}

.forecast.scattered-snow {
  background-color: #8ee5ff;
  background-image: linear-gradient(top, #8ee5ff, #5eb5d7);
  background-image: -webkit-linear-gradient(top, #8ee5ff, #5eb5d7);
}

.forecast.scattered-tstorm {
  background-color: #3f4d55;
  background-image: linear-gradient(top, #3f4d55, #0f1d25);
  background-image: -webkit-linear-gradient(top, #3f4d55, #0f1d25);
}

.forecast.snow {
  background-color: #c0e5ff;
  background-image: linear-gradient(top, #c0e5ff, #90b5d7);
  background-image: -webkit-linear-gradient(top, #c0e5ff, #90b5d7);
 }

.forecast.sunny {
  background-color: #ffc33b;
  background-image: linear-gradient(top, #ffc33b, #ea930b);
  background-image: -webkit-linear-gradient(top, #ffc33b, #ea930b);
}

.forecast.tstorm {
  background-color: #3f4d55;
  background-image: linear-gradient(top, #3f4d55, #0f1d25);
  background-image: -webkit-linear-gradient(top, #3f4d55, #0f1d25);
}

.hidden {
  /*display: none;*/
  visibility: hidden;
}

